a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: white;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    background: Darkorange;
}

#sidebar ul li a:hover {
    color: white;

}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
    background: Darkorange;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: Darkorange;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.bg-orange {
  background-color:Darkorange;
}

.bg-blue {
  background-color:#B3DBFF;
}
.btn_blue{
  background:#B3DBFF;
  width:10%;
}
.bold{
  font-weight: bold;
}

.title_page{
  font-weight: bold;
  text-align: center;
  font-size: x-large;
}

.link_perso{
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: x-medium;

}

.title_table{
  text-align: center;
}

.table_perso{
  background-color: white;
  border-color: white;
  margin :0;
  padding:0;
}

.table_old{
  background-color: white;
  margin: auto;
  border-color: white;
}

.table-multi{
  background-color: white;
  margin: auto;
  width: 100% !important;
}

.dropdown-menu{
      width: 300px !important;
      height: 400px !important;
}

.h1_responsive{
  font-size: 140%;
}

.h3_responsive{
  font-size: 110%;
}

.no-border{
  border: hidden;
  border: 0;
}

input {
  width: auto;
  text-align: center;
}

.input_visu{
  width: 50%;
}

.input_visu_large{
  width: 100%;
}

td{
  width: 5%;
}

th {
   text-align: center;
   width:auto;
}

.table_shadow{
  -moz-box-shadow: 1px 1px 5px 3px #000000;
  -webkit-box-shadow: 1px 1px 5px 3px #000000;
  -o-box-shadow: 1px 1px 5px 3px #000000;
  box-shadow: 1px 1px 5px 3px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=5);
}

.menu{
  font-size:140%;
  padding : 1%;
}

i{
  color:white;
}
i:active{
  color: black;
}

.link{
  color: Darkorange;
  font-weight:bold;
}

.rouge{
  color : red;
}

.vert{
  color : green;
}
